* {
  margin: 0;
  box-sizing: border-box;
}

.tfl-container {
  display: flex;
  flex-wrap: wrap;
  padding:20px 10px;
}

.tfl-row {
  flex: 0 0 50%;
  padding:0px 10px
}

@media only screen and (max-width: 640px) {
  .tfl-row {
    flex: 0 0 100%;
  }
}

.tube-list{
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
}

.tfl-row:nth-last-child(2) .tube-list,.tfl-row:nth-last-child(1) .tube-list{
  border-bottom: 1px solid #ccc;
}

.tube-status{
   float:right;
   border-radius: 2px;
   background-color: #f6eecb;
   color: #2070b0;
   padding: 0px 5px;
}


