.app-title {
    background: #113b92;
    padding: 20px;
    z-index: 100;
}

.app-title h1 a {
        color: #fff;
        background: transparent url("https://api.tfl.gov.uk/Content/images/white-roundel.png") no-repeat left center;
        padding-left: 50px;
        text-decoration: none;
}